.App {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-box {
  background-color: black;
}

.bubble {
  position: relative;
  border-radius: 50%;
  background-color: white;
  text-align: center;
}

.start-bubble {
  margin-left: -50px;
  width: 100px !important;
  border-radius: 0px;
}

.current-bubble {
  background-color: red;
  color: white;
}
